*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: url("./images/bg.jpg"), rgba(255, 255 , 255, 0.2);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
}
.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entry{
    display: flex;
    justify-content: space-between;
}

#entryText{
    min-height: 5vh;
    width: 86%;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #48A5FF;
    outline: none;
}

#entryLetter{
    min-height: 5vh;
    width: 13%;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #B280EE;
    outline: none;
}

#find{
    min-height: 5vh;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.3rem;
    background-color: #FF6977;
    color: #fff;
    font-weight: bold;
    min-width: 12vw;
    align-self: center;
    margin-top: 10px;
    outline: none;
}

#result{
    color: #111;
    min-width: 10vw;
    min-height: 5vh;
    font-size: 1.5rem;
    padding: 9px;
    background-color: #fff;
    border-radius: 10px;
    text-align: start;
    border: 2px solid #FF6977;
}